.fav {
  background-color: #f4ecff;
  padding: 30px;
  height: stretch;
  min-height: 100%;
  flex: 1;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
    height: 100%;
}

.remove{
  background:none!important;
  color:#7e24fa;
  text-decoration: underline;
  border:none;
  font: inherit;
  cursor: pointer;
}
