.App {
  text-align: center;
}

.App-header {
  background-color: #7e24fa;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.col-xs-6, .col-md-6, .col-lg-6{
  padding: 0;
  height: 100%;
  flex-direction: column;
}

.html, .body{
  height: 100%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
